<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 leftSide">
      <div class="row">
        <div class="col-12">
          <div class="chapterTitle">
            <h1 class="title">Timeless</h1>
            <div>
              <p style="color:white">You won’t remember all the movies you’ve seen in yYou won’t remember all the movies you’ve seen in yYou won’t
                remember all the movies you’ve seen in y You won’t remember all the movies you’ve seen in yYou won’t remember
                all the movies you’ve seen in yYou won’t remember all the movies you’ve seen in y </p>
            </div>
          </div>
        </div>
        <div class="row chapterButton">
          <div class="col-12">
            <button class="btn btn-light">
              <i class="fas fa-list" style="padding-right: 10px;"></i> All Chapters</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7 rightSide">
      <div class="chapterNavigation">
        <a class="float-left"></a>
        <button class="btn btn-primary">Next</button>
      </div>
      <div class="chapterContent">
        <h2 class="title">Section Title</h2>
        <p>You won’t remember all the movies you’ve seen in your last hour, you won’t think about all the jobs you’ve done,
          you won’t think about all those medals or competitions you’ve won. Or how much gas your car needs or how many loans
          you still have to pay. Your bills and bank account numbers will fade away from your mind when you’re an inch from
          death. You will forget all your desire for enmity and greed. You won’t be able to recall what books you’ve read.
          You will ask yourself one thing: What did I do? And in that one second, very few have the courage to be true to
          themselves. Noble Prize story. Dynamite.</p>
        <blockquote class="blockquote">
          My skills are useless in times of peace, but they&#39;re definitely going to come in handy during times of war. When there&#39;s
          peace, no one cares for me.
        </blockquote>
        <p>{{ content }}</p>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="bottom-bar">
    <div class="row align-items-center">
      <div class="col-md-4 offset-md-4">
        <p>Unlock access to book, bookmarked pages, and hundreds of quotes and stories.</p>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#exampleModal">
          Sign Up</button>
      </div>
    </div>
  </div> -->
</div>
